@import "../../variable.scss";

.input_first {
    border: 1px solid #DFE2E4;
    width: 100%;
    font-family: $font-family-main;
    font-size: 12px;
    font-weight: 450;
    height: 40px;
    border-radius: 4px;
    text-align: center;
}